form action="/todos/#{result['user_id']}/update" method="post" 
    input type="text" name="title" value="#{result['Content']}"
    input type="hidden" name="id" value="#{result['id']}"
    input type="submit" value="Ändra"